@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quilon-Regular";
  src: url("/fonts/Quilon-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Quilon-Medium";
  src: url("/fonts/Quilon-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

#root {
  height: 100%;
}
.medium {
  font-family: "Quilon-Medium", system-ui;
  font-weight: 500;
}

.cursor {
  height: 500px;
  position: absolute;
  width: 500px;
  background: radial-gradient(
    circle farthest-side,
    rgb(4, 217, 255),
    rgba(4, 217, 255, 0.9),
    rgba(4, 217, 255, 0.8),
    rgba(4, 217, 255, 0.7),
    rgba(4, 217, 255, 0.6),
    rgba(4, 217, 255, 0.5),
    rgba(4, 217, 255, 0.4),
    rgba(4, 217, 255, 0.3),
    rgba(4, 217, 255, 0.2),
    rgba(4, 217, 255, 0.1),
    rgba(4, 217, 255, 0)
  );
}

html,
body {
  height: 100%;
  color: white;
  background: black;
  font-family: "Quilon-Regular", system-ui;
  overflow: auto;
  overflow-x: hidden;
}

@media (min-width: 640px) {
  html,
  body {
    overflow: hidden;
  }
}
